<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"  >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1>Работает контроллер</h1>
        <div th:each="product : ${products}">
          <td th:text="${product.id}"></td>
          <td th:text="${product.title}"></td>
          <td th:text="${product.description}"></td>
          <td th:text="${product.price}"></td>
          <td th:text="${product.city}"></td>
        </div>
          <a th:href="@{/product/new}"> Добавить новый</a>
          <a th:href="@{/product/delete/${id}}"> Удалить</a>
    </body>
</html>
