<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>registration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
              rel="stylesheet" 
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
              crossorigin="anonymous">
    </head>
    <body>
        <!--Navigation bar(header)-->
        <nav class="navbar bg-primary" data-bs-theme="dark">
            <!-- Navbar content -->
            <div class="container">
                <div class="navbar-header">    
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"  data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                        <a class="" href="#" th:href="@{/}"> Зарегистрироваться</a>

                    </button> 

                </div>
        </nav>

        <!--Form registration-->
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-6 col-offset-md-3" >

                    <h3>Форма регистрации</h3>
                    
                    <form th:action="@{/registration}" method="post" th:object="${userLogin}"> 
                        <div class="form-group">
                            <!--поля передаются  USER_DTO-->
                          
                            <label class="control-label" for="name">Введите имя</label>
                            <input class="form-control" id="name" th:field="*{name}" required autofocus="autofocus"/><br>
                            <label class="control-label" for="surname">Введите фамилию</label>
                            <input class="form-control" id="surname" th:field="*{surname}" required autofocus="autofocus"/><br>
                            <label class="control-label"  for="email">Введите email</label>
                            <input class="form-control" type="email" id="email" th:field="*{email}" required autofocus="autofocus"/><br>
                            <label class="control-label" for="password">Введите пароль</label>
                            <input class="form-control" id="password" th:field="*{password}" required autofocus="autofocus"/> <br> 
                            <div class="form-group">
                            <label class="control-label" for="repeat">Повторите пароль</label>    
                            <input class="form-control" id="repeat" th:field="*{repeat}" required autofocus="autofocus"/> <br> 
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                                    <span>Уже зарегистрированы? <a href="/" th:href="@{/login}"> Войти<a/><span/>
                                </div>
                        </div>
                    </form>
                    <!--Сообщение успешно--><br>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">Вы успешно зарегистрировались, пожалуйста потвердите почту</div>
                    </div>
                    <div th:if="${param.unsuccess}">
						<div class="alert alert-danger">Такой User существует или пароли не совпадают.</div>
					</div>
                   
                    </body>
                    </html>
