<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/test" method="get">
            <input type="text" name="email" />
            <input type="submit" value="посмотреть"/>
        </form>
       
        <div th:text="${message}"><div/>   
        <br><!-- comment -->
        
        <div>
         <form action="/test/home" method="post">
            <input type="text" name="email"  />
            <input type="submit" value="Отправить"/>
        </form>
        </div>    
    </body>
</html>
